:root {
  --primary: #43516c;
  --secondary: #05659e;
  --background: #e5e8c7;
  --dark-accent: #d85426;
  --light-accent: #dba531; 

}


body {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(229 232 199);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
  color:var(--dark-accent);
  text-transform: uppercase;
  text-shadow:2px 2px 2px var(--primary);
 }

 .navbar {
  background:linear-gradient(var(--secondary) 90%, var(--light-accent));
    /*background-color:var(--secondary);*/
    opacity: 0.95;
    
 }
 .navbar h1 {
   font-weight: 900;
   text-shadow: 2px 2px 2px var(--light-accent);
 }

 .nav-link:hover{
   background-color: var(--light-accent);
   border-radius: 10px;
   opacity: 0.9;
 }

 .jumbotron {
   
   background-image:url(./horse-g9dd9d950b_1920.jpg);
   background-size:cover;
   background-position: center;
   height: 400px;
   
 }

  .jumbotron button {
   background-color: var(--secondary);
   padding: 10px 0 ;
 }

   .jumbotron button:hover{
  background-color: var(--dark-accent);
 }

 .modal {
   border-radius: 25px;
 }

 .modal-body {
   background-image: url(./my-hero-academia-gd58fa8f6d_640.jpg);
   background-size: cover;
   background-position: top center;
 }

 .form-control{
   opacity: 0.6;
 }

 .form-btn {
   background-color: var(--dark-accent);
 }

 .modal .nav-link:hover{
   color: var(--light-accent);
  background-color: var(--secondary);
  opacity: 0.5;
 }
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  opacity: 1;
}
