:root {
  --primary: #43516c;
  --secondary: #05659e;
  --background: #e5e8c7;
  --dark-accent: #d85426;
  --light-accent: #dba531; 

}


body {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(229 232 199);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Text', serif;
  color: #d85426;
  text-transform: uppercase;
 }

 .navbar {
  background:linear-gradient(var(--secondary) 90%, var(--light-accent));
    /*background-color:var(--secondary);*/
    opacity: 0.95;
    
 }

 .jumbotron {
   
   background-image:url(./horse-g9dd9d950b_1920.jpg);
   background-size:cover;
   background-position: center;
   height: 400px;
   
 }

  .jumbotron button {
   background-color: var(--secondary);
 }

   .jumbotron button:hover{
  background-color: var(--dark-accent);
 }

 .container {

 }
